{% extends 'base.html' %}

{% block content %}
        <h1>Pets</h1>
        <div class="row">
            {% for pet in pets %}
            <div class="col-md-3">
                {% if pet.photo_url %}
                <img class="img-fluid" src="{{pet.photo_url}}" alt="{{pet.name}}">
                {% endif %}
                
                <p>
                <a href="/{{pet.id}}">{{pet.name}}</a>
                {% if pet.available %}
                <b>is available</b>
                
                {% else %}
                not available
                {% endif %}
                </p>
                
            </div>
        
            {% endfor%}
            
        </div>
        <a class="btn btn-info" href="/add">Add a Pet</a>

{% endblock %}